:root{
    --cor-principal: #948979;
    --cor-fundoPagina:#222831;
    --cor-fundoLogin: #393E46;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: var(--cor-fundoPagina);
}

.login{
    display: flex;   
    gap: 25% 
}

.login_slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 5%;
}

.login_textoApresentacao{
    font-size: 40px;
    color: var(--cor-principal);
}

.login_imagem{
    flex-direction: column-reverse;
    width: 80%;
    border-radius: 5px;
}

.login_caixaLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-fundoLogin);
    width: 25%;
    height: 370px;
    gap: 20px;
    border-radius: 20px;
    margin-top: 200px;
}

.login_caixaLogin_titulo{
    font-size: 40px;
    color: var(--cor-principal)
}

.login_caixaLogin_labelInput{
    color:white
}

.login_caixaLogin_inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    border-radius: 5px;
    width: 300px;
    height: 150px;
}

#nome_usuario{
    border-radius: 5px;
    width: 300px;
    height: 30px;
    font-size: 20px;
}

#senha_usuario{
    border-radius: 5px;
    height: 30px;
    font-size: 20px;
}

.login_caixaLogin_botaoLogin{
    text-decoration: none;
    color: white;
    background-color: var(--cor-principal);
    width: 280px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    font-size: 22px;
}

.login_caixaLogin_botaoRedefinirSenha{
    text-decoration: none;
    color: white;
}
