:root{
    --fundo-cadastro: #A1E3F9;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url('/paginaLogin/img/fundo.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    align-items: center;
}

.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fundo-cadastro);
    margin: 10% 39%;
    padding: 2rem;
    border-radius: 15px;
    gap:10px;
}

.cadastro > img{
    width: 3rem;
}

.cadastro p b{
    font-size: 1.4rem;
}

.cadastro_titulo{
    margin-bottom: 30px;
}

.registro{
    display: flex;
    gap: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.registro img{
    width: 0.8rem;
    height: 0.8rem;
    align-self: center;
}

.registro input{
    font-size: 1rem;
    border: 1px solid white;
    outline: 0;
    transition: transform 1s;
}

.registro input:focus{
    transform: scale(1.2);
}

.termos{
    display: flex;
    width: 14rem;
    gap:10px;
    padding: 1px;
}

.termos p{
    font-size: 0.9rem;
}

.cadastro button{
    color:white;
    font-size: 1.2rem;
    background: linear-gradient(90deg,#00BFFF, #6A5ACD);
    border-radius: 30px;
    border: none;
    padding: 20px 50px;
    transition: transform 0.5s;
    margin:10px
}

.cadastro button:hover{
    transform: scale(1.1);
}
.lembre-me{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}
